#apps {
    background-image: url("/img/apps/backapp.jpg");
    padding: 120px 0px 90px 0px;
    padding: 120px 0px;
    background-size: contain;
    .maxWidthContent {
        max-width: 940px;
        margin: 0 auto;
        .apps__content {
            color: white;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .apps_detail {
                padding: 60px 15px 0px;
                .textLeft {
                    color: #fff;
                    font-weight: 700;
                    font-size: xx-large;
                    margin-bottom: 10px;
                }
                .textSmallLeft {
                    margin-bottom: 10px;
                }
                .buttonLeft {
                    cursor: pointer;
                    outline: none;
                    background-color: #fb4226;
                    padding: 10px 20px;
                    color: #fff;
                    font-size: medium;
                    font-weight: 700;
                    border: none;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                }
                .textAppUnder {
                    padding-top: 10px;
                    a {
                        cursor: hand;
                        color: white;
                        text-decoration: none;
                        text-decoration-line: 10px;
                        -moz-text-decoration-line: 10px;
                        border-bottom: 1px solid currentColor;
                    }
                }
            }
            .apps_img {
                position: relative;
                display: flex;
                .img {
                    margin: 0 auto;
                    width: 40%;
                    height: auto;
                }
                .sliderScreen {
                    position: absolute;
                    width: 38%;
                    top: 0;
                    height: 97%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    .slick-arrow {
                        display: none !important;
                    }
                    .img-radius {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 20px;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        -ms-border-radius: 20px;
                        -o-border-radius: 20px;
                        img {
                            max-width: 100%;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("large")) {
    #apps {
        .maxWidthContent {
            .apps__content {
                grid-template-columns: 1fr;
                .apps_detail {
                    text-align: center !important;
                    width: 100vw;
                }
                .apps_img {
                    width: 100vw;
                    text-align: center !important;
                    .sliderScreen {
                        .img-radius {
                            border-radius: 40px;
                            -webkit-border-radius: 40px;
                            -moz-border-radius: 40px;
                            -ms-border-radius: 40px;
                            -o-border-radius: 40px;
                        }
                    }
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("medium")) {
    #apps {
        .maxWidthContent {
            .apps__content {
                .apps_img {
                    .sliderScreen {
                        .img-radius {
                            border-radius: 20px;
                            -webkit-border-radius: 20px;
                            -moz-border-radius: 20px;
                            -ms-border-radius: 20px;
                            -o-border-radius: 20px;
                        }
                    }
                }
                .apps_detail{
                    padding: 0 15px;
                    .textAppUnder{
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
}
