#inputModal {
    .modal {
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        padding: 30px 40px;
        width: 400px;
        h1 {
            text-align: center;
            font-size: 1.9rem;
            font-weight: bold;
            padding: 1rem;
        }
        label {
            display: block;
            padding: 10px 0;
            font-weight: bold;
            font-size: 1rem;
        }
        input {

            padding: 10px 5px;
            font-size: 1rem;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgb(153, 153, 153);
            outline: none;
            // background-color: rgba(224, 224, 224, 0.911);
        }
        // .inputText {
        //     border-bottom: 1px solid rgb(141, 141, 141);
        // }
        // .showPass {
        //     position: relative;
        //     input[type="checkbox"] {
        //         display: block;
        //         width: 30px;
        //         z-index: 2;
        //         height: 30px;
        //         background-color: transparent;
        //         -webkit-appearance: none;
        //         outline: 0;
        //         background-repeat: no-repeat;
        //         background-position: center center;
        //         background-size: contain;
        //     }
        //     input[type="checkbox"]:not(:checked) {
        //         // background-color: red;
        //         & ~ .checkmark {
        //             .checked {
        //                 display: none;
        //             }
        //             .unchecked {
        //                 color: rgb(151, 151, 151);
        //                 width: auto;
        //                 position: absolute;
        //                 right: 10px;
        //                 top: 50%;
        //                 transform: translateY(-50%);
        //                 -webkit-transform: translateY(-50%);
        //                 -moz-transform: translateY(-50%);
        //                 -ms-transform: translateY(-50%);
        //                 -o-transform: translateY(-50%);
        //                 display: flex;
        //                 align-items: center;
        //             }
        //         }
        //     }

        //     input[type="checkbox"]:checked {
        //         & ~ .checkmark {
        //             .checked {
        //                 color: rgb(151, 151, 151);
        //                 width: auto;
        //                 position: absolute;
        //                 right: 10px;
        //                 top: 50%;
        //                 transform: translateY(-50%);
        //                 -webkit-transform: translateY(-50%);
        //                 -moz-transform: translateY(-50%);
        //                 -ms-transform: translateY(-50%);
        //                 -o-transform: translateY(-50%);
        //                 display: flex;
        //                 align-items: center;
        //             }

        //             .unchecked {
        //                 display: none;
        //             }
        //         }
        //     }
        //     .showPassBtn {
        //         right: 0;
        //         cursor: pointer;
        //         padding: 20px;
        //         position: absolute;
        //         top: 50%;
        //         transform: translateY(-50%);
        //         -webkit-transform: translateY(-50%);
        //         -moz-transform: translateY(-50%);
        //         -ms-transform: translateY(-50%);
        //         -o-transform: translateY(-50%);
        //     }
        // }
        .errorInput{
            color: red;
        }
        button {
            display: block;
            margin: 30px auto 0;
            padding: 10px;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 15px 25px;
            -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.377);
            -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.377);
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.377);
            border: none;
            outline: none;
            cursor: pointer;
            left: 50%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            display: block;
            border: 3px solid #fff;
            background-color: #fff;
            border: 3px solid black;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
        }
    }
}
