.movieDetail {
  position: relative;
  padding-bottom: 43.75%;
  overflow: hidden;
  &.scrollAction{
    margin-top: 60px;
  }
  .background {
    height: 100%;
    width: 100%;
    video {
      position: absolute;
      left: 50%; /* % of surrounding element */
      top: 50%;
      @include transform(translate(-50%, -50%));
    }
    iframe {
      display: none;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  .detail {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin: 0 auto;
    width: 70vw;
    .movieImg {
      padding-bottom: 160%;
      position: relative;
      display: block;
      overflow: hidden;
      @include borderRadius(20px);
      @include transition(all 2s linear);
      &:hover {
        &::before {
          background-color: rgba(0, 0, 0, 0.5);
        }
        .MuiSvgIcon-root {
          opacity: 1;
        }
      }
      &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        @include transition(all 0.2s linear);
      }
      .MuiSvgIcon-root {
        z-index: 2;
        opacity: 0;
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        border: 1px solid white;
        cursor: pointer;
        @include transition(all 0.2s linear);
        @include borderRadius(50%);
        @include transform(translate(-50%, -50%));
        &:hover {
          @include transform(translate(-50%, -50%) scale(1.2));
        }
      }
      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .movieName {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: right;
      color: $text-color-primary;
      &__content {
        width: 100%;
        padding-left: 20px;
        p {
          line-height: 2.3rem;
          &:nth-child(1) {
            font-size: 1.3rem;
          }
          &:nth-child(2) {
            display: inline-block;
            max-width: 80%;
            span {
              vertical-align: middle;
              &:nth-child(1) {
                margin-right: 10px;
                font-size: 1rem;
                color: white;
                background-color: red;
                padding: 5px 10px;
                align-items: center;
                font-weight: bold;
                @include borderRadius(5px);
              }
              &:nth-child(2) {
                display: inline-block;
                font-size: 2rem;
                display: inline;
              }
            }
            font-size: 2rem;
          }
          &:nth-child(3) {
            font-size: 1.1rem;
          }
        }
        .btn {
          margin-top: 20px;
        }
      }
    }
    .movieRating {
      z-index: 1;
      @include flexCenter;
      &__content {
        .CircularProgressbar {
          width: 60%;
          margin: auto;
          display: block;
          .CircularProgressbar-trail {
            stroke: #3a3a3a;
          }
          .CircularProgressbar-path {
            stroke: $circular-color-primary;
          }
          .CircularProgressbar-text {
            fill: $text-color-primary;
            font-weight: bold;
            font-size: 1.7rem;
          }
        }
        .startMain {
          display: flex;
          padding: 10px 0;
          align-items: center;
          color: $text-color-orange1;
          vertical-align: middle;
          font-size: 2rem;
          justify-content: center;
          svg {
            font-size: 2.5rem;
          }
        }
        .numberOfReviews {
          color: $text-color-primary;
          font-size: 1.3rem;
          text-align: center;
        }
      }
    }
  }
  .scrollDown {
    cursor: pointer;
    position: absolute;
    padding-top: 50px;
    display: flex;
    bottom: 50px;
    justify-content: center;
    align-items: center;
    width: 100px;
    left: 50%;
    @include transform(translateX(-50%));
  }
}
@include mediaQueryMax(getBreakpoints("large")) {
  .movieDetail {
    padding-bottom: 56.25%;
    .detail {
      width: 95vw;
    }
  }
}
@include mediaQueryMax(getBreakpoints("medium")) {
  .movieDetail {
    overflow: visible;
    .detail {
      display: block;
      width: 90vw;
      top: 100%;
      left: 0%;
      color: black;
      @include transform(translate(0, 0));
      .movieImg {
        display: none;
      }
      .movieRating {
        display: none;
      }
      .movieName {
        color: $text-color-secondary;
        .btn {
          display: none;
        }
        &__content {
          p {
            &:nth-child(2) {
              max-width: 100%;
            }}}
      }
    }
    .background {
      &::after {
        display: none;
      }
      video {
        display: none;
      }
      iframe {
        display: block;
      }
    }
    .scrollDown {
      display: none;
    }
  }
}