.btn{
    border:  none;
    padding: 10px;
    cursor: pointer;
    min-width: 100px;
    outline: none;
    @include borderRadius(5px);
    &__primary{
        color: $text-color-primary;
        background-color: $btn-color-primary;
        @include transition(all .2s);
        &:hover{
            background-color: $btn-color-primary-hover;
        }
    }


    //-----size button
    &__sizes{
        font-size: 1rem;
        padding: 10px;
    }
    &__sizeM{
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    &__sizeL{
        font-size: 1.5rem;
        padding: 10px 35px;
    }
}