@import "./button.scss";

//icon
@import "../../Component/ArrowButtonMenu/style.scss";
@import "../../Component/ScrollDownButton/style.scss";
//modal custom
@import "../../Component/Modal/style.scss";
@import "../../Component/ModalProfile/style.scss";
@import "../../Component/ModalAdminAddUser/style.scss";
@import "../../Component/ModalAdminEditUser/style.scss";
@import "../../Component/ModalAdminAddMovie/style.scss";
//pages components
@import "../../Component/Apps/style.scss";
@import "../../Component/Carousel/style.scss";
@import "../../Component/ListMovie/style.scss";
@import "../../Component/Circular/style.scss";
@import "../../Component/MovieDetailHeader/style.scss";
@import "../../Component/MovieDetailShowTime/style.scss";
@import "../../Component/NavBarMobile/style.scss";
@import "../../Component/Pagination/style.scss";
@import "../../Component/ProfileHistory/style.scss";
@import "../../Component/ProfileInfo/style.scss";
@import "../../Component/SearchBar/style.scss";
@import "../../Component/ShowTime/style.scss";
@import "../../Component/ShowTimeMobile/style.scss";
@import "../../Component/MovieDetailShowTimeMobile/style.scss";
@import "../../Component/AdminSearchShowTime/style.scss";