// breakpoint
$breakpoints:( 'extra-large': 1200px, 'large': 992px, 'medium': 768px, 'small': 600px, 'extra-small': 480px);

//color
// color button
$btn-color-primary:#fb4226;
$btn-color-primary-hover:#b42a14;
// color text
$text-color-primary:#fff;