@mixin mediaQueryMax($type) {
    @if $type==getBreakpoints("extra-large") {
        @media screen and (max-width: getBreakpoints("extra-large")) {
            @content;
        }
    } @else if $type==getBreakpoints("large") {
        @media screen and (max-width: getBreakpoints("large")) {
            @content;
        }
    } @else if $type==getBreakpoints("medium") {
        @media screen and (max-width: getBreakpoints("medium")) {
            @content;
        }
    } @else if $type==getBreakpoints("small") {
        @media screen and (max-width: getBreakpoints("small")) {
            @content;
        }
    } @else {
        @media screen and (max-width: getBreakpoints("extra-small")) {
            @content;
        }
    }
}

@mixin mediaQueryMin($type) {
    @if $type==getBreakpoints("extra-large") {
        @media screen and (min-width: getBreakpoints("extra-large")) {
            @content;
        }
    } @else if $type==getBreakpoints("large") {
        @media screen and (min-width: getBreakpoints("large")) {
            @content;
        }
    } @else if $type==getBreakpoints("medium") {
        @media screen and (min-width: getBreakpoints("medium")) {
            @content;
        }
    } @else if $type==getBreakpoints("small") {
        @media screen and (min-width: getBreakpoints("small")) {
            @content;
        }
    } @else {
        @media screen and (min-width: getBreakpoints("extra-small")) {
            @content;
        }
    }
}

@mixin borderRadius($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}

@mixin boxShadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin transform ($value){
    transform:$value;
    -webkit-transform:$value;
    -moz-transform:$value;
    -ms-transform:$value;
    -o-transform:$value;
}

@mixin transition ($value) {
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}