*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  min-height: 100vh;
  height: -webkit-fill-available;
}
body{
  height: 100vh;
  min-height: -webkit-fill-available;
}