#profile {
    background: linear-gradient(to right bottom, #65dfc9, #6cdbeb);
    z-index: 2;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        width: 200px;
        height: 200px;
        @include borderRadius(50%);
        background: wheat;
        position: absolute;
        top: calc(100vh - 300px);
        left: 100px;
        z-index: -1;
        animation: circleAnimation 3s linear infinite alternate;
        animation-delay: 1s;
    }
    &::after {
        content: "";
        animation: circleAnimation 5s linear infinite alternate;
        -webkit-animation: circleAnimation 5s linear infinite alternate;
        width: 200px;
        height: 200px;
        background: whitesmoke;
        position: absolute;
        top: 20px;
        right: 100px;
        z-index: -1;
        @include transform(translateY(0px));
        @include borderRadius(50%);
    }
    .profile__content {
        position: relative;
        overflow: auto;
        width:75%;
        min-height: 500px;
        height: 80vh;
        backdrop-filter: blur(1rem);
        display: grid;
        grid-template-columns: 25% 75%;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
        @include borderRadius(30px);
        @include boxShadow(5px 5px 15px rgba(0, 0, 0, 0.3));
    }
}

@keyframes circleAnimation {
    from {
        @include transform(translateY(0px));
    }
    to {
        @include transform(translateY(100px));
        background-color: transparent;
    }
}

@include mediaQueryMax(getBreakpoints("extra-large")) {
    #profile {
        .profile__content{
            width: 80%;
            grid-template-columns: 35% 65%;
        }
    }
}
@include mediaQueryMax(getBreakpoints("large")) {
    #profile {
        .profile__content{
            width: 90%;
            grid-template-columns: 35% 65%;
        }
    }
}
@include mediaQueryMax(getBreakpoints("medium")) {
    #profile {
        padding: 0;
        overflow: auto;
        display: block;
        .profile__content {
            height: 100%;
            width: 100%;
            background-color: transparent;
            @include borderRadius(0);
            display: block;
        }
    }
}
