#profile {
    display: grid;
    grid-template-columns: 25% 75%;
    // min-height: 100vh;
    .personalInformation {
        padding: 20px;
        background-color: rgb(250, 151, 71);
        box-shadow: -105px 30px 40px 100px rgba(0, 0, 0, 0.53);
        -webkit-box-shadow: -105px 30px 40px 100px rgb(0, 0, 0);
        -moz-box-shadow: -105px 30px 40px 100px rgba(0, 0, 0, 0.53);
        border-radius: 0 50px 50px 0;
        -webkit-border-radius: 0 50px 50px 0;
        -moz-border-radius: 0 50px 50px 0;
        -ms-border-radius: 0 50px 50px 0;
        -o-border-radius: 0 50px 50px 0;
        .btn_comback {
            text-decoration: none;
            p {
                color: black;
                font-weight: bolder;
                font-size: 2.5rem;
                font-family: Damion;
                outline: none;
                border: none;
            }
        }
        .avtImg {
            display: flex;
            justify-content: center;
            img {
                width: 50%;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                -webkit-box-shadow: 9px 13px 50px -9px rgba(0, 0, 0, 0.53);
                -moz-box-shadow: 9px 13px 50px -9px rgba(0, 0, 0, 0.53);
                box-shadow: 9px 13px 50px -9px rgba(0, 0, 0, 0.53);
            }
        }
        .nameUser {
            display: flex;
            justify-content: center;
            p {
                font-size: 1.5rem;
                padding: 1rem;
            }
        }
        .inforUser {
            p {
                font-size: 1rem;
                font-weight: bolder;
                line-height: 2rem;
                span {
                    font-weight: normal;
                }
            }
        }
        .btn-changeInfo {
            font-size: 1.2rem;
            font-weight: bold;
            padding: 15px 25px;
            -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.377);
            -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.377);
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.377);
            border: none;
            outline: none;
            cursor: pointer;
            margin: auto;
            left: 50%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            display: block;
            margin: 20px auto;
            border: 3px solid #fff;
            background-color: #fff;
            border: 3px solid black;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            &:hover {
                background-color: #000000;
                border: 3px solid #fff;
                color: #fff;
            }
        }
        .inputModal {
            .modal {
                background-color: #fff;
                padding: 40px;
                .updateInfo {
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding: 1rem;
                }
                label {
                    display: block;
                    padding: 10px 0;
                    font-weight: bold;
                }
                input {
                    border-radius: 5px;
                    padding: 10px 5px;
                    font-style: 1rem;
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: rgba(231, 231, 231, 0.397);
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
                .showPass {
                    position: relative;
                    input[type="checkbox"] {
                        display: block;
                        width: 30px;
                        z-index: 2;
                        height: 30px;
                        background-color: transparent;
                        -webkit-appearance: none;
                        outline: 0;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                    }
                    input[type="checkbox"]:not(:checked) {
                        // background-color: red;
                        & ~ .checkmark {
                            .checked {
                                display: none;
                            }

                            .unchecked {
                                color: rgb(151, 151, 151);
                                width: auto;
                                position: absolute;
                                right: 10px;
                                top: 50%;
                                transform: translateY(-50%);
                                -webkit-transform: translateY(-50%);
                                -moz-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                -o-transform: translateY(-50%);
                                display: flex;
                                align-items: center;
                            }
                        }
                    }

                    input[type="checkbox"]:checked {
                        // background-color: brown;
                        & ~ .checkmark {
                            .checked {
                                color: rgb(151, 151, 151);
                                width: auto;
                                position: absolute;
                                right: 10px;
                                top: 50%;
                                transform: translateY(-50%);
                                -webkit-transform: translateY(-50%);
                                -moz-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                -o-transform: translateY(-50%);
                                display: flex;
                                align-items: center;
                            }

                            .unchecked {
                                display: none;
                            }
                        }
                    }
                    .inputText {
                    }
                    .showPassBtn {
                        right: 0;
                        cursor: pointer;
                        padding: 20px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                    }
                }
                button {
                    display: block;
                    margin: 20px auto 0;
                    padding: 10px;
                    @extend .btn-changeInfo;
                }
            }
        }
    }
    .ticketBookingHistory {
        scrollbar-width: thin;
        scrollbar-color: #c2bebe #e8e3e3;
        /* Works on Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(156, 156, 156);
        }
        padding: 20px;
        height: 100vh;
        overflow-y: auto;
        .title {
            font-size: 1.5rem;
            font-weight: bolder;
        }
        .pagination {
            padding: 50px 10px;
            .MuiAccordion-root {
                &:nth-child(2n-1) {
                    background-color: rgba(233, 233, 233, 0.493);
                }
                .MuiAccordionSummary-root {
                    .MuiAccordionSummary-content {
                        .title_accordion {
                            // display: flex;
                            // justify-content: space-between;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            width: 100%;
                            p {
                                font-weight: 600;
                                font-size: 1rem;
                                span {
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
                .content_accordion {
                    width: 100%;
                    display: flex;
                    // grid-template-columns: repeat(3, 1fr);
                    p {
                        padding: 0 10px;
                    }
                }
            }
            .paginationButton {
                padding: 20px;
                text-align: center;
                .btn_pagination {
                    cursor: pointer;
                    background-color: white;
                    border: 2px solid black;
                    border-radius: 5px;
                    font-weight: bolder;
                    margin-right: 10px;
                    height: 30px;
                    width: 30px;
                    outline: none;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    font-size: 1rem;
                }
                .active {
                    background-color: #000000;
                    color: white;
                    cursor: default;
                }
            }
        }
    }
}

@font-face {
    font-family: Damion;
    src: url("../../Font/Damion-Regular.ttf");
}
