#profile {
    background: linear-gradient(-45deg, #c2c3c9, #eeeef1);
    height: 100%;
    width: 100%;
    padding: 50px;
    position: relative;
    overflow-y: auto;
    .profile__content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 25% 75%;
        background-color: #fff;
        @include borderRadius(0 30px 0 30px);
        @include boxShadow(5px 5px 15px rgba(0, 0, 0, 0.3));
    }
}
@include mediaQueryMax(getBreakpoints("large")) {
    #profile {
        padding: 50px 0;
    }
}
@include mediaQueryMax(getBreakpoints("medium")) {
    #profile {
        padding: 0;
        .profile__content {
            background-color: transparent;
            @include borderRadius(0);
            display: block;
        }
    }
}
