@import "../../scss/main.scss";
#ArrowButtonMenu {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transition: .5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -webkit-transition: .5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -moz-transition: .5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -ms-transition: .5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -o-transition: .5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    .buttonMobile{
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        &:nth-child(1) {
            background-color: black;
            width: 20px;
            height: 2px;
        }
        &:nth-child(2) {
            background-color: black;
            width: 20px;
            height: 2px;
            top: 6px;
            position: absolute;
        }
        &:nth-child(3) {
            background-color: black;
            width: 20px;
            height: 2px;
            bottom: 6px;
            position: absolute;
        }
    }
}
.toggle {
    // right: 40vw !important;
    .buttonMobile {
        &:nth-child(1) {
            opacity: 0;
            transition-delay: 150ms;
            height: 3px !important;
            // transform: rotate(90deg);
            // -webkit-transform: rotate(90deg);
            // -moz-transform: rotate(90deg);
            // -ms-transform: rotate(90deg);
            // -o-transform: rotate(90deg);
            width: 10px !important;
        }
        &:nth-child(2) {
            height: 3px !important;
            transition-delay: 0.8s;
            top: 3px !important;
            width: 10px !important;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
}
        &:nth-child(3) {
            height: 3px !important;
            bottom: 3px !important;
            width: 10px !important;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
}
    }
}
@include mediaQueryMax(getBreakpoints("medium")) {
    #ArrowButtonMenu {
        display: block;
    }
}
