@import "../../Pages/AdminMovie/style.scss";
@import "../../Pages/AdminUser/style.scss";
@import "../../Pages/Booking/style.scss";
@import "../../Pages/Home/style.scss";
@import "../../Pages/Loading/style.scss";
@import "../../Pages/Login/style.scss";
@import "../../Pages/movieDetail/style.scss";
@import "../../Pages/Profile/style.scss";
@import "../../Pages/Registry/style.scss";
