#adminM {
    .tableUser {
        margin: auto;
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        border-collapse: collapse;
        text-align: left;
        th {
            padding: 15px 10px;
            border-bottom: 1px solid rgb(218, 218, 218);
        }
        thead {
            font-size: 1.2rem;
        }
        tbody {
            th {
                font-size: 1rem;
                font-weight: normal;
                &.action {
                    .btn_delete {
                        color: $btn-color-primary;
                        cursor: pointer;
                    }
                    .btn_setting {
                        margin-left: 5px;
                        cursor: pointer;
                        color: blue;
                    }
                }
            }
        }
    }
}
