#adminUser {
    position: relative;
    height: 100%;
    .header {
        width: 100%;
        height: 4rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        display: flex;
        &__searchBox {
            position: relative;
            width: 250px;
            height: 100%;
            input {
                width: 100%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                border-radius: 50px;
                padding: 0.5rem;
                border: none;
                outline: none;
            }
            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                border-radius: 50%;
                background-color: orangered;
                // background: linear-gradient(to right bottom, #4c00ff, #a115ff);
                cursor: pointer;
                height: 1.8rem;
                width: 1.8rem;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
            }
        }
        &__userName {
            display: flex;
            align-items: center;
            img {
                width: 2rem;
                margin-right: 0.5rem;
            }
        }
    }
    .userAdminContent {
        position: absolute;
        width: 100%;
        overflow-y: scroll;
        height: calc(100% - 4rem);
        scrollbar-width: thin;
        scrollbar-color: black #e8e3e3;
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 50px;
        }
        .title {
            padding: 1rem;
        }
        .tableUser {
            margin: auto;
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            thead {
                tr {
                    th {
                        padding: 15px 10px 15px 0;
                        border-bottom: 1px solid rgb(218, 218, 218);
                    }
                }
            }
            tbody {
                td {
                    font-size: 1rem;
                    font-weight: normal;
                    border-bottom: 1px solid rgb(218, 218, 218);
                    padding: 1rem 0.5rem 1rem 0;
                    white-space: normal;
                    word-wrap: break-word;
                    margin: 0;
                    &.action {
                        display: flex;
                        align-items: center;
                        .btn_delete {
                            color: $btn-color-primary;
                            cursor: pointer;
                        }
                        .btn_setting {
                            margin-left: 5px;
                            cursor: pointer;
                            color: blue;
                        }
                    }
                }
            }
        }
        .pagination {
            button {
                padding: 0.5rem 0.7rem;
                border-radius: 5px;
                border: none;
                outline: none;
                background: linear-gradient(to right bottom, #4c00ff, #a115ff);
                color: white;
                margin-right: 0.5rem;
                cursor: pointer;
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("large")) {
    #adminUser {
        .userAdminContent {
            .tableUser {
                thead {
                    display: none;
                }
                tbody {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    tr {
                        width: calc(50% - 1rem);
                        display: block;
                        // margin-bottom: 1rem;
                        background-color: #fff;
                        border-radius: 10px;
                        box-shadow: 5px 5px 5px rgba(12, 8, 8, 0.1), inset 5px 5px rgba(255, 255, 255, 0.2);
                        td {
                            display: block;
                            padding: 1rem;
                            border: none;
                            &::before {
                                content: attr(content) ": ";
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .pagination {
                margin-top: 1rem;
                button {
                    margin: .2rem;
                    padding: 0.5rem 0.7rem;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    background: linear-gradient(to right bottom, #4c00ff, #a115ff);
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("medium")) {
    #adminUser {
        .userAdminContent {
            .tableUser {
                tbody {
                    padding-right: 0.5rem;
                    tr {
                        width: 100%;
                        td {
                            width: 100%;
                            text-align: right;
                            &.action{
                                display: block;
                            }
                            &::before {
                                float: left ;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints('small')){
    #adminUser{
        .header {
            &__searchBox {
                width: 200px;
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints('extra-small')){
    #adminUser{
        .header {
            justify-content: flex-end;
            padding: .5rem;
            &__searchBox {
                width: 200px;
                padding: 0;
            }
            &__userName {
                width: 100%;
                display: none;
                align-items: center;
                img {
                    width: 2rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}