@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../scss/main.scss";
#carousel {
  position: relative;
  top: 0;
  &.scrollAction {
    margin-top: 60px;
  }
  .carousel__slider {
    .slick-list {
      .slick-track {
        .slick-slide {
          width: 100vw;
          display: flex;
          .carousel__slide {
            outline: none;
            border: none;
            position: relative;
            left: 0;
            height: 100%;
            img {
              width: 100vw;
              height: 100%;
            }
            &-background {
              position: absolute;
              background-color: rgba(0, 0, 0, 0.1);
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              color: white;
              .playIcon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                border: 2px solid white;
                background-color: #fff;
                background-color: rgba(255, 255, 255, 0.212);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                font-size: 5rem;
                opacity: 0;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
                cursor: pointer;
                &:hover {
                  opacity: 0.7 !important;
                }
              }
              &:hover .playIcon {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .slick-dots {
      box-sizing: border-box;
      width: auto;
      left: 50%;
      bottom: 15%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      ul {
        li {
          margin: 0;
          button {
            &::before {
              color: rgba(255, 255, 255, 0.705) !important;
              font-size: 0.8rem !important;
              opacity: 1;
            }
          }
          &.slick-active {
            button::before {
              color: orangered !important;
            }
          }
        }
      }
    }
  }
}
.Modal-popup-trailer {
  position: relative;
  outline: none;
  .close-btn {
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
  }
  .trailer-video {
    width: 560px;
    height: 315px;
  }
}
@include mediaQueryMax(getBreakpoints("large")) {
  .carousel__slider {
    .slick-dots {
      bottom: 10% !important;
    }
  }
}
@include mediaQueryMax(getBreakpoints("small")) {
  .carousel__slider {
    .slick-list {
      .slick-track {
        .slick-slide {
          .slickCarousel {
            .Box {
              .playIcon {
                visibility: hidden;
              }
            }
          }
        }
      }
    }
    .slick-dots {
      bottom: 0.3rem !important;
      ul {
        li {
          button {
            display: none;
            // &::before {
            //   color: white !important;
            //   font-size: 0.5rem !important;
            //   opacity: 1;
            // }
          }
          // &.slick-active {
          //   button::before {
          //     color: orangered !important;
          //     ;
          //   }
          // }
        }
      }
    }
    .slick-arrow {
      visibility: hidden;
    }
  }
}
