.dashboard {
    // background: linear-gradient(322deg, #ba4aff, rgba(#ba4aff, 0) 70%),
    //     linear-gradient(178deg, #008aff, rgba(#008aff, 0) 70%), linear-gradient(24deg, #00ffc6, rgba(#00ffc6, 0) 35%);
    // background: linear-gradient(to right bottom, #D9DAFC,grey);
    background: #d9dafc;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        width: 90%;
        height: 90vh;
        @include borderRadius(30px);
        display: flex;
        align-items: center;
        // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.836), transparent);
        .navBar__mobileBtn {
            display: none;
        }
        .navBar {
            width: 300px;
            height: 90%;
            background-color: lavender;
            margin-left: -50px;
            border-radius: 20px;
            transition: border-radius 0.5s linear, margin-left 0.5s ease-in-out 0.5s, width 0.5s ease-in-out,
                height 0.5s ease-in-out;
            background: linear-gradient(to right bottom, rgb(76, 0, 255), rgba(161, 21, 255, 1));
            &__btn {
                svg {
                    margin: 1rem 1rem 0 auto;
                    display: block;
                    font-size: 2rem;
                    cursor: pointer;
                    color: whitesmoke;
                    transition: margin 0.5s ease-in-out;
                }
            }
            &__logo {
                text-align: center;
                padding: 1rem 0 0 0;
                transition: opacity 0.5s ease-in-out;
                text-decoration: none;
                p {
                    color: black;
                    font-weight: bolder;
                    font-size: 2.5rem;
                    font-family: Damion;
                    color: #fff;
                }
            }
            &__link {
                .navBar__userName {
                    display: none;
                }
                .navBar__text,
                a {
                    font-size: 1rem;
                    margin: 0 10px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 15px 0 15px 30px;
                    color: #fff;
                    position: relative;
                    background: none;
                    z-index: 1;
                    transition: color 0.5s ease-out, transform 0.5s ease-in-out;
                    overflow: hidden;
                    transform: translateY(10px);
                    &:hover {
                        transform: translateY(0px);
                        color: white;
                        font-weight: bold;
                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                    }
                    svg {
                        margin-right: 0.5rem;
                        font-size: 1.6rem;
                    }
                    p {
                        white-space: nowrap;
                        max-width: 100%;
                        transition: max-width 0.5s ease-in-out;
                    }
                }
            }
            &.collapse {
                margin-left: 0;
                width: 4rem;
                height: 100%;
                border-radius: 20px 0 0 20px;
                transition: border-radius 0.5s ease-in-out, margin-left 0.5s ease-in-out, width 0.5s ease-in-out 0.5s,
                    height 0.5s ease-in-out 0s;
                .navBar__logo {
                    opacity: 0;
                }
                .navBar__btn {
                    svg {
                        margin: 1rem auto 0;
                    }
                }
                .navBar__link {
                    .navBar__text {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        margin: 0 0.5rem;
                        padding: 1rem 0;
                        svg {
                            font-size: 2rem;
                            margin: 0;
                        }
                        p {
                            max-width: 0%;
                            height: 0px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .data {
            width: 100%;
            height: 100%;
            position: relative;
            padding-left: 1rem;
            @include borderRadius(0 30px 30px 0);
            overflow: hidden;
            &__Content {
                display: block;
                width: 100%;
                height: calc(100% - 1rem);
                overflow: auto;
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("extra-large")) {
    .dashboard {
        .content {
            width: 100%;
            height: 100%;
            border-radius: 0 !important;
            .navBar {
                border-radius: 0 !important;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 2;
                margin: 0;
                height: 100vh;
                &__link {
                    a {
                        padding: 15px 0 15px 10px;
                    }
                }
            }
            .data {
                margin-left: 4rem;
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("small")) {
    .dashboard {
        .content {
            .navBar__mobileBtn {
                display: inherit;
                z-index: 3;
                position: fixed;
                top: 1.2rem;
                left: 1.2rem;
            }
            .navBar {
                left: -100%;
                width: 100%;
                overflow-y: auto;
                transition: left 0.7s ease-in-out, 0.5s ease-in-out, height 0.5s linear, margin-left 0.5s ease-in-out,
                    width 0.5s ease-in-out, top 0.5s ease-in-out;
                &__btn {
                    display: none;
                    svg {
                        margin-top: 1rem;
                        font-size: 2rem;
                        cursor: pointer;
                        color: black;
                        path {
                            color: white;
                        }
                    }
                }
                &__link {
                    .navBar__userName {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        img {
                            width: 1.7rem;
                            margin-right: 0.5rem;
                        }
                        span {
                            display: block;
                        }
                    }
                    .navBar__text {
                        &:hover {
                            transform: translateY(10px) !important;
                            color: white;
                            font-weight: normal !important;
                            box-shadow: none !important;
                        }
                    }
                }
                &.collapse {
                    transition: left 0.7s ease-in-out, 0.5s ease-in-out, height 0.5s linear,
                        margin-left 0.5s ease-in-out, width 0.5s ease-in-out, top 0.5s ease-in-out;
                    .navBar__btn {
                        svg {
                            margin-top: 1rem;
                            margin-top: 3rem;
                            font-size: 2rem;
                            cursor: pointer;
                            color: black;
                            transition: margin 0.5s ease-in-out !important;
                        }
                    }
                    .navBar__link {
                        .navBar__userName {
                            display: none;
                        }
                        .navBar__text {
                            a {
                                svg {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
                &.toggle {
                    .navBar__userName {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        img {
                            width: 1.7rem;
                            margin-right: 0.5rem;
                        }
                        span {
                            display: block;
                        }
                    }
                    .navBar__text {
                        &:hover {
                            transform: translateY(10px) !important;
                            color: white;
                            font-weight: bold;
                            box-shadow: none !important;
                        }
                    }
                    left: 0;
                    // transition: top 0.5s ease-in-out;
                }
            }
            .data {
                margin-left: 0;
                border-radius: 0;
            }
        }
    }
}
