.dashboard {
    background: linear-gradient(322deg, #ba4aff, rgba(#ba4aff, 0) 70%),
        linear-gradient(178deg, #008aff, rgba(#008aff, 0) 70%), linear-gradient(24deg, #00ffc6, rgba(#00ffc6, 0) 35%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        width: 85%;
        height: 90vh;
        @include borderRadius(30px);
        display: flex;
        align-items: center;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
        .navBar {
            width: 300px;
            height: 80vh;
            background-color: lavender;
            margin-left: -100px;
            border-radius: 20px;
            transition: border-radius 0.5s linear, margin-left 0.5s ease-in-out, width 0.5s ease-in-out,
                height 0.5s ease-in-out 0.5s;
            background: linear-gradient(to right bottom, rgb(76, 0, 255), rgba(161, 21, 255, 1));
            &__btn {
                svg {
                    margin: 1rem 1rem 0 auto;
                    display: block;
                    font-size: 2rem;
                    cursor: pointer;
                    color: whitesmoke;
                    transition: margin 0.5s ease-in-out;
                }
            }
            &__logo {
                text-align: center;
                padding: 1rem 0 0 0;
                transition: opacity 0.5s ease-in-out;
                a {
                    text-decoration: none;
                    p {
                        color: black;
                        font-weight: bolder;
                        font-size: 2.5rem;
                        font-family: Damion;
                        color: #fff;
                    }
                }
            }
            &__link {
                a {
                    font-size: 1rem;
                    margin: 0 10px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 15px 0 15px 30px;
                    color: #fff;
                    position: relative;
                    background: none;
                    z-index: 1;
                    transition: color 0.5s ease-out, transform 0.5s ease-in-out;
                    overflow: hidden;
                    transform: translateY(10px);
                    &:hover {
                        transform: translateY(0px);
                        color: white;
                        font-weight: bold;
                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                    }
                    svg {
                        margin-right: 0.5rem;
                        font-size: 1.6rem;
                        transition: font-size 0.5s linear 0.5s;
                    }
                    p {
                        white-space: nowrap;
                        max-width: 100%;
                        transition: max-width 0.5s ease-in-out;
                    }
                }
            }
            &.collapse {
                margin-left: 0;
                width: 5rem;
                height: 100%;
                border-radius: 20px 0 0 20px;
                transition: border-radius 0.5s ease-in-out, margin-left 0.5s ease-in-out, width 0.5s ease-in-out 1s,
                    height 0.5s ease-in-out 0.5s;
                .navBar__logo {
                    opacity: 0;
                }
                .navBar__btn {
                    svg {
                        margin: 1rem auto 0;
                    }
                }
                .navBar__link {
                    a {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        margin: 0 0.5rem;
                        padding: 1rem 0;
                        svg {
                            font-size: 2rem;
                            margin: 0;
                            transition: font-size 0.5s linear 1s;
                        }
                        p {
                            max-width: 0%;
                            height: 0px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .data {
            width: 100%;
            height: 100%;
            position: relative;
            @include borderRadius(0 30px 30px 0);
            overflow: hidden;
            .username {
                position: absolute;
                top: 1rem;
                right: 2rem;
                display: flex;
                align-items: center;
                img {
                    width: 2rem;
                    margin-right: 0.5rem;
                }
            }
            &__Content {
                width: 100%;
                height: 100%;
                overflow: auto;
                position: absolute;
                top: 0;
                left: 0;
                scrollbar-width: thin;
                scrollbar-color: #c2bebe #e8e3e3;
                &::-webkit-scrollbar {
                  width: 5px;
                  height: 5px;
                }
                &::-webkit-scrollbar-track {
                  background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                  background-color:rgb(226, 226, 226);
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("extra-large")) {
    .dashboard {
        .content {
            width: 100%;
            height: 100%;
            .navBar {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 2;
                margin: 0;
                height: 100%;
                &__link {
                    a {
                        padding: 15px 0 15px 10px;
                    }
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("small")) {
    .dashboard {
        .content {
            .navBar {
                overflow: hidden;
                border-radius: 0 !important;
                transition: background 1s linear 1s, border-radius 0.5s ease-in-out, height 0.5s linear, margin-left 0.5s ease-in-out,
                    width 0.5s ease-in-out;
                &__btn {
                    svg {
                        margin: 1rem !important;
                        display: block;
                        font-size: 2rem;
                        cursor: pointer;
                        color: whitesmoke;
                        transition: margin 0.5s ease-in-out;
                    }
                }
                &.collapse {
                    background: transparent;
                    height: 3em !important;
                    transition: border-radius 0.5s ease-in-out, margin-left 0.5s ease-in-out,
                        width 0.5s ease-in-out 0.5s, height 0.7s linear 1s;
                    .navBar__link {
                        a {
                            svg {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
