#profile {
    .profileInfo {
        width: 25vw;
        min-height: 100vh;
        padding: 5px;
        background-color: rgba(255, 153, 0, 0.6);
        @include boxShadow(  0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22));
        @include borderRadius(0 30px 0 0);
        // box-shadow:;
        .info_Header {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn_comback {
                text-decoration: none;
                p {
                    color: black;
                    font-weight: bolder;
                    font-size: 2.5rem;
                    font-family: Damion;
                    outline: none;
                    border: none;
                }
            }
            .logoutIcon {
                width: 30px;
                height: 30px;
            }
        }
        .info_Content {
            .avtNameUser {
                .avtImg {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 150px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        -webkit-box-shadow: 9px 13px 50px -9px rgba(0, 0, 0, 0.53);
                        -moz-box-shadow: 9px 13px 50px -9px rgba(0, 0, 0, 0.53);
                        box-shadow: 9px 13px 50px -9px rgba(0, 0, 0, 0.53);
                    }
                }
                .nameUser {
                    display: flex;
                    justify-content: center;
                    p {
                        font-size: 1.5rem;
                        padding: 1rem;
                    }
                }
            }
            .infoUser {
                .info{
                    p {
                        font-size: 1rem;
                        font-weight: bolder;
                        line-height: 2rem;
                        text-align: center;
                        span {
                            font-weight: normal;
                        }
                    }
                }
                .btn-changeInfo {
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding: 15px 25px;
                    @include boxShadow(5px 5px 10px 0px rgba(0, 0, 0, 0.377));
                    border: none;
                    outline: none;
                    cursor: pointer;
                    margin: auto;
                    left: 50%;
                    border-radius: 10px;
                    @include borderRadius(10px);
                    display: block;
                    margin: 20px auto;
                    border: 3px solid #fff;
                    background-color: #fff;
                    border: 3px solid black;
                    transition: all 0.2s;
                    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    &:hover {
                        background-color: #000000;
                        border: 3px solid #fff;
                        color: #fff;
                    }
                }
            }
        }
    }
}
@font-face {
    font-family: Damion;
    src: url("../../Font/Damion-Regular.ttf");
}
@include mediaQueryMax(getBreakpoints("large")) {
    #profile {
        .profileInfo {
            width: 100vw;
            min-height: 100%;
            @include borderRadius(0);
            @include boxShadow(0px -70px 90px 50px rgb(0, 0, 0));
            .info_Content {
                display: flex;
                gap: 50px;
                padding: 0 100px;
                align-items: center;
                .avtImg {
                    justify-content: center;
                    img {
                        width: 150px;
                    }
                }
                .infoUser {
                    .info {
                        p {
                            text-align: left;
                        }
                    }
                    .btn-changeInfo {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("small")) {
    #profile {
        .profileInfo {
            position: relative;
            .info_Content {
                display: block;
                padding: 0 10%;
                .avtImg {
                    img {
                        width: 100px;
                    }
                }
                .infoUser {
                    .info {
                        p {
                            text-align: center;
                        }
                    }
                    .btn-changeInfo {
                        margin: 20px auto;
                    }
                }
            }
        }
    }
}
