#profile {
    .profileInfo {
        height: 100%;
        padding: 5px;
        background-color: #fff;
        z-index: 1;
        @include boxShadow(5px 5px 15px rgba(0, 0, 0, 0.3));
        @include borderRadius(0 30px 0 30px);
        .info_Header {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn_comback {
                text-decoration: none;
                p {
                    color: black;
                    font-weight: bolder;
                    font-size: 2.5rem;
                    font-family: Damion;
                    outline: none;
                    border: none;
                }
            }
            .logoutIcon {
                width: 30px;
                height: 30px;
            }
        }
        .info_Content {
            .avtNameUser {
                .avtImg {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 150px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        @include boxShadow(5px 5px 5px rgba(0, 0, 0, 0.3));
                    }
                }
                .nameUser {
                    display: flex;
                    justify-content: center;
                    p {
                        font-size: 1.4rem;
                        padding: 1rem 0;
                    }
                }
            }
            .infoUser {
                .info {
                    p {
                        font-size: .9rem;
                        font-weight: bolder;
                        line-height: 2rem;
                        text-align: center;
                        span {
                            font-weight: normal;
                        }
                    }
                }
                .btn-changeInfo {
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding: 15px 25px;
                    @include boxShadow(5px 5px 5px rgba(0, 0, 0, 0.2));
                    border: none;
                    outline: none;
                    cursor: pointer;
                    margin: auto;
                    left: 50%;
                    border-radius: 10px;
                    @include borderRadius(10px);
                    display: block;
                    margin: 20px auto;
                    border: 3px solid black;
                    background-color: #fff;
                    transition: all 0.2s;
                    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    &:hover {
                        background-color: #000000;
                        border: 3px solid #fff;
                        color: #fff;
                    }
                }
            }
        }
    }
}
@font-face {
    font-family: Damion;
    src: url("../../Font/Damion-Regular.ttf");
}
@include mediaQueryMax(getBreakpoints("large")) {
    #profile {
        .profileInfo {
            .info_Content {
                .avtNameUser {
                    .avtImg {
                        img {
                            width: 50%;
                        }
                    }
                }
                .infoUser {
                    .info {
                        p {
                            text-align: left;
                        }
                    }
                    .btn-changeInfo {
                        margin: 20px auto;
                    }
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("medium")) {
    #profile {
        .profileInfo {
            @include borderRadius(0);
            @include boxShadow(none);
            background-color: transparent;
            .info_Content {
                display: flex;
                gap: 50px;
                padding-left: 100px;
                .avtNameUser {
                    .avtImg {
                        img {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("small")) {
    #profile {
        .profileInfo {
            position: relative;
            .info_Content {
                display: block;
                padding: 0;
                .avtImg {
                    img {
                        width: 100px;
                    }
                }
                .infoUser {
                    .info {
                        p {
                            text-align: center;
                        }
                    }
                    .btn-changeInfo {
                        padding:10px;
                        margin: 20px auto;
                    }
                }
            }
        }
    }
}
