#navBar {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    height: 60px;
    z-index: 2;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    &.sticky {
        position: fixed;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        top: -60px;
    }
    &.active {
        top: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .navBar_left {
        top: 50%;
        left: 0;
        padding-left: 20px;
        transform: translateY(-50%);
        position: absolute;
        cursor: pointer;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        a {
            text-decoration: none;
            p {
                color: black;
                font-weight: bolder;
                font-size: 2.5rem;
                font-family: Damion;
            }
        }
    }
    .navBar_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        ul {
            list-style: none;
            display: inline-flex;
            li {
                cursor: pointer;
                padding: 0.5rem;
                text-decoration: none;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
                &:hover {
                    color: red;
                }
            }
        }
    }
    .navBar_right {
        top: 50%;
        padding-left: 20px;
        right: 0;
        transform: translateY(-50%);
        position: absolute;
        padding-right: 20px;
        .userName {
            display: flex;
            color: #9b9b9b;
            cursor: pointer;
            text-decoration: none;
            p {
                padding-left: 5px;
            }
            svg {
                width: 25px;
                height: 25px;
            }
            svg,
            p {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            // p{
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            // }
        }
        .menu {
            display: none;
            position: absolute;
            top: calc(100% + 10px);
            right: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            overflow: hidden;
            &_btn {
                width: 100%;
                white-space: nowrap;
                button {
                    padding: 10px;
                    text-decoration: none;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    text-align: left;
                    width: 100%;
                    font-size: 1rem;
                    color: black;
                    cursor: pointer;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    &:hover {
                        background-color: #ff3c00ee;
                        color: white;
                        padding: 10px 0px 10px 20px;
                    }
                }
            }
        }
        .active {
            display: block;
        }
        #menuMobile {
            display: none;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
}
@include mediaQueryMax(getBreakpoints("medium")) {
    #navBar {
        .navBar_center {
            display: none;
        }
        .navBar_right {
            .userName {
                display: none;
            }
            .menu {
                display: none;
            }
            
        }
    }
}

@font-face {
    font-family: Damion;
    src: url("../../Font/Damion-Regular.ttf");
}
