#profile {
    .profileHistory {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        width: 75%;
        @include borderRadius(0 30px 0 0);
        .title {
            font-size: 2rem;
            font-weight: bolder;
            padding: 50px 20px 30px;
        }
        .pagination {
            &::-webkit-scrollbar {
                width: 5px;
            }
            /* Track */
            &::-webkit-scrollbar-track {
                background: whitesmoke;
                @include borderRadius(50px);
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                @include borderRadius(50px);
                background: rgb(202, 202, 202);
            }
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: rgba(177, 177, 177, 0.5);
            }
            height: 70%;
            overflow: auto;
            padding: 0 30px;
            .MuiAccordion-root {
                @include borderRadius(10px);
                background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
                margin: 10px 0;
                .MuiAccordionSummary-root {
                    .MuiAccordionSummary-content {
                        .title_accordion {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            width: 100%;
                            align-items: center;
                            p {
                                font-weight: 600;
                                font-size: 1rem;
                                line-height: 1.5rem;
                                span {
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
                .content_accordion {
                    width: 100%;
                    display: flex;
                    // grid-template-columns: repeat(3, 1fr);
                    p {
                        padding: 0 10px;
                    }
                }
            }
            .paginationButton {
                padding: 20px;
                justify-content: center;
                align-items: center;
                display: flex;
                .btn_pagination {
                    cursor: pointer;
                    background-color: white;
                    border: 2px solid black;
                    border-radius: 5px;
                    font-weight: bolder;
                    margin-right: 10px;
                    height: 35px;
                    width: 35px;
                    outline: none;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    font-size: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        height: 80%;
                        width: 80%;
                    }
                }
                .active {
                    background-color: #000000;
                    color: white;
                    cursor: default;
                }
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("extra-large")) {
    #profile {
        .profileHistory {
            width: 70%;
        }
    }
}
@include mediaQueryMax(getBreakpoints("medium")) {
    #profile {
        .profileHistory {
            position: inherit;
            width: 100%;
            height: 100%;
            @include borderRadius(30px 30px 0 0);
            .pagination {
                overflow: visible;
                height: 100%;
            }
        }
    }
}
@include mediaQueryMax(getBreakpoints("small")) {
    #profile {
        .profileHistory {
            .pagination {
                padding: 0 30px;
                .MuiAccordion-root {
                    .MuiAccordionSummary-root {
                        .MuiAccordionSummary-content {
                            .title_accordion {
                                display: block;
                            }
                        }
                    }
                    .content_accordion {
                        width: 100%;
                        display: inline-block;
                        p {
                            padding: 0 10px 0 0;
                        }
                    }
                }
                .paginationButton {
                    padding: 20px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
            }
        }
    }
}
