.modal {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.3s ease-in-out,visibility 0.5s ease-in-out);
    &__background {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
    }
    &__body {
        box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.3);
        position: fixed;
        background-color: #fff;
        left: 50%;
        top: -200%;
        opacity: 0;
        @include borderRadius(10px);
        @include transform(translate(-50%, -50%) scale(0.5));
        @include transition(opacity 0.5s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out);
        .closeButton {
            position: relative;
            .closeIcon {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
            }
        }
    }

    &.toggleModal {
        opacity: 1;
        visibility: visible;
        .modal__body {
            top: 50%;
            opacity: 1;
            @include transform(translate(-50%, -50%) scale(1));
            @include transition(transform 0.4s cubic-bezier(0.18, 0.89, 0.43, 1.19));
        }
    }
}
