.modal {
    z-index: 2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: -200%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 0.3s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out;
}
.toggleModal {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
    -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
    -moz-transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
    -ms-transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
    -o-transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
