.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1 !important;
    &__body {
        outline: none;
        box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.3);
        position: fixed;
        background-color: #fff;
        // left: 50%;
        // top: -200%;
        opacity: 0;
        @include borderRadius(10px);
        // @include transform(translate(-50%, -50%) scale(0.5));
        @include transition(opacity 0.5s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out);
        .closeButton {
            position: relative;
            .closeIcon {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
            }
        }
    }
}
