#footer {
    // padding: 50px;
    flex-grow: 1;
    background-color: #222222;
    .maxWidth {
        width: 80%;
        margin: 0 auto;
        .text_title {
            color: #ffffff;
            font-size: 1rem;
            margin: 10px 0;
        }
        .iconMobile {
            display: flex;
            justify-content: center;
            a {
                padding-right: 10px;
                img {
                    width: 30px;
                }
            }
        }
        .text_center {
            text-align: center;
        }
        .text_content {
            color: #949494;
            font-size: 0.8rem;
            text-decoration: none;
            display: block;
            line-height: 1.8;
        }
        .imgLogo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin: 15px 20px 0 0;
            background-color: #ffffff;
        }
        .listlogo {
            display: flex;
            flex-wrap: wrap;
        }
        .hrCustom {
            border-top: 1px solid #4a4a4a;
            margin: 20px 0;
        }
        .logoFooter {
            width: 100%;
        }
    }
}
@media screen and(max-Width:960px) {
    #footer {
        .maxWidth {
            width: 100% !important;
            .textContentFooter{
                text-align: center;
            }
            .logoFooter{
                width: 120px;
                margin: auto;
                display: block;
            }
        }
    }
}
@media screen and(max-Width:600px) {
    #footer {
        .maxWidth {
            width: 100% !important;
            .textContentFooter{
                text-align: center;
            }
            .text_content{
                text-align: center;
            }
            .iconMobile{
                justify-content: center;
            }
        }
    }
}
