@import "../../scss/main.scss";
.searchBar {
    z-index: 1;
    display: flex;
    width: 70%;
    height: 80px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    .open {
        .searchBar__dropDown-option {
            visibility: visible;
            opacity: 1;
        }
    }
    .selectFilm{
        width: 30%;
    }
    &__dropDown {
        user-select: none;
        position: relative;
        width: calc(70%/4);
        display: flex;
        align-items: center;
        justify-content: center;
        &-name {
            cursor: pointer;
            position: relative;
            appearance: none;
            border: none;
            outline: none;
            padding: 1rem;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            //   top:0;
            //   left: 0;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                background-color: rgba(238, 238, 238, 0.88);
                width: 1px;
                height: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }
        &-option {
            position: absolute;
            top: calc(100% - 10px);
            left: 0;
            visibility: hidden;
            opacity: 0;
            background-color: #fff;
            cursor: pointer;
            min-width: 160px !important;
            white-space: nowrap;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
            border: 1px solid rgba(0, 0, 0, 0.15);
            overflow: hidden;
            ul {
                max-height: 300px;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: #c2bebe #e8e3e3;
                /* Works on Chrome, Edge, and Safari */
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgb(156, 156, 156);
                }
                li {
                    list-style: none;
                    padding: 0.5rem 1.5rem;
                    &:hover {
                        background-color: orange;
                        color: white;
                        padding-left: 2rem;
                        padding-right: 1rem;
                        transition: all 0.2s;
                        -webkit-transition: all 0.2s;
                        -moz-transition: all 0.2s;
                        -ms-transition: all 0.2s;
                        -o-transition: all 0.2s;
                        span{
                            color: white;
                        }
                    }
                    span {
                        font-size: .8rem;
                        color: #aaa;
                    }
                }
            }
        }
        &:nth-child(-n + 4):after {
            content: "";
            background-image: url("/img/arrow_down.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
        .btn-buyTicket {
            background-color: #fb4226;
            outline: none;
            border: none;
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: bold;
            height: 50%;
            width: 80%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            color: white;
            cursor: pointer;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-disable{
            background-color: gray;
            pointer-events: none;
        }
        .active {
            display: block !important;
        }
        // .dropDown-menu {
        // }
    }
    .selectFilm {
        grid-column: 1 / span 2;
    }
}
@include mediaQueryMax(getBreakpoints("large")){
    .searchBar{
        display: none;
        visibility: hidden;
    }
}