.searchBar {
    width: 60%;
    height: 80px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    box-sizing: border-box;
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &__dropDown {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &-name {
            z-index: 1;
            padding: 1rem;
            cursor: pointer;
            width: 100%;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                background-color: rgba(238,238,238,.88);
                width: 1px;
                height: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }
        &:nth-child(-n + 4):after {
            content: "";
            background-image: url("/img/arrow_down.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
        .btn-buyTicket {
            background-color: #fb4226;
            color: white;
            outline: none;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            height: 50%;
            width: 80%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            cursor: pointer;
        }
        .active {
            display: block !important;
        }
        .dropDown-menu {
            background-color: #fff;
            position: absolute;
            top: 80%;
            left: 0;
            display: block;
            min-width: 160px;
            overflow: hidden;
            white-space: nowrap;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
            border: 1px solid rgba(0, 0, 0, 0.15);
            display: none;
            ul {
                list-style: none;
                max-height: 300px;
                overflow-y: scroll;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                scrollbar-width: thin;
                scrollbar-color: #c2bebe #e8e3e3;

                /* Works on Chrome, Edge, and Safari */
                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgb(156, 156, 156);
                }
                li {
                    padding: 5px 15px;
                    display: list-item;
                }
            }
        }
    }
    .selectFilm {
        grid-column: 1 / span 2;
    }
}
